
.vs/2DPlatformer-GameDevCourse/v17/fileList.bin
*.vsidx
.vs/2DPlatformer-GameDevCourse/v17/.suo
*.bin
.vsconfig
Library/AnnotationManager
*.graph
Library/ArtifactDB
Library/ArtifactDB-lock
Library/Artifacts/00/000449251c964c0170e8be3f595afe46
Library/Artifacts/00/001ecdf21f3659690d0b173a16fb3aa3
Library/Artifacts/00/002725410c17dbfc0ef3d7094e6b1b8b
Library/Artifacts/00/004779a5e5d4b92873e9dadcc338dadc
*.vsidx
.vs/2DPlatformer-GameDevCourse/v17/.suo
*.bin
*.bin
